[Unit]
Description=Запуск мониторинга процесса test каждую минуту
Requires=test-process-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
